# Python
__pycache__/
*.pyc

# Virtual Environment
.venv/

# Trained Models
*.pth

# Ignore only saved model folders
models/vision/saved_models/V1
models/vision/saved_models/V2
models/vision/saved_models/V3
models/environmental/saved_models/

models/__pycache__
models/environmental/__pycache__

# Dataset
data/satellite/images/
data/satellite/masks/

# Jupyter
.ipynb_checkpoints/

# OS
Thumbs.db
.DS_Store

# Generated prediction images only
outputs/predictions/